body{

}

p{
	
}

h3{
	
}

li{
	
}

#Header {
	text-align: center;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Header h1{

}

#LeftNav{
	text-align: center;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	float: left;
}

#LeftNav img{

}

#LeftNav ul{

}

#LeftNav h3{

}

#Content {
	text-align: center;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	border: solid 8px black;
}

#Footer{
	text-align: center;
	border: solid 8px black;
}
