body{

}

p{
	
}

h3{
	
}

li{
	
}

#Header {
	border: solid 8px black;
}

#Header h1{

}

#LeftNav{
	border: solid 8px black;
}

#LeftNav img{

}

#LeftNav ul{

}

#LeftNav h3{

}

#Content {
	border: solid 8px black;
}

#Footer{
	border: solid 8px black;
}
